* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
    font-family: HKGrotesk Medium;
    src: url(../assets/fonts/HKGrotesk-Medium.ttf);
}

@font-face {
    font-family: HKGrotesk Bold;
    src: url(../assets/fonts/HKGrotesk-Bold.ttf);
}

body {
  font-family: "HKGrotesk Medium";
  color: #3C3C3C;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-software {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

h2 {
  color: #4DC0B4;
  font-family: "HKGrotesk Medium";
  font-size: 50px;
  margin: 70px 0;
}

h3 {
  color: #4DC0B4;
}

nav {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
  font-size: 17px;
  padding: 12px;
}

.nav-menu a {
  text-decoration: none;
  color: #3C3C3C;
  padding-left: 12px;
}

.hero {
  background-image: url('../assets/images/bg1.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.hero h1 {
  color: white;
  align-self: center;
  font-size: 28px;
}

img.name-gif {
  width: 50%;
  align-self: center;
  margin: 20px 0 30px 0;
}

.software-icons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

.software-icons li {
  justify-content: center;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 5%;
  margin: 20px 5px 5px 5px;
  width: 100px;
  height: 100px;
  align-items: center;
  font-size: 13px;
}

.software-icons li i {
  font-size: 28px;
}

span {
  margin-top: 7px;
}

.cell {
  display: flex;
  flex-direction: column;
}

.bulma {
  background-image: url('../assets/images/bulma-1.png');
  width: 30px;
  height: 30px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.sqla {
  background-image: url('../assets/images/sqla-1.png');
  width: 50px;
  height: 30px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.flask {
  background-image: url('../assets/images/flask-1.png');
  width: 30px;
  height: 30px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.pitch, .experience-content {
  display: flex;
  margin-bottom: 100px;
}

.bio {
  flex-basis: 0;
  flex-grow: 3;
  padding-right: 15px;
}

.skills {
  flex-basis: 0;
  flex-grow: 2;
  padding-left: 15px;
}

.project-image {
  width: 90%;
}

.project-1, .project-2, .project-3, .project-4 {
  display: flex;
}

.project-info {
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  flex-grow: 1;
  padding-right: 30px;
}

.project-info img {
  width: 85%;
  margin-bottom: 15px;
}

.project-description {
  flex-basis: 0;
  flex-grow: 3;
  padding-right: 30px;
}

.tech-icons {
  display: flex;
  list-style: none;
  font-size: 20px;
  margin-bottom: 15px;
}

.tech-icons li {
  margin: 8px 8px 0 0;
}

.button {
  border: 1px solid #4DC0B4;
  border-radius: 5px;
  padding: 5px;
  margin: 4px;
}

a.button {
  text-decoration: none;
  color: #4DC0B4;
  font-size: 13px;
  font-family: HKGrotesk Bold;
  text-align: center;
}

.button i {
  padding-right: 8px;
}

.experience-item {
  flex-basis: 0;
  flex-grow: 1;
  padding-right: 30px;
}

footer {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-content: center; */
  background-image: url('../assets/images/bg2-2.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
}

.footer-heading {
  color: white;
  font-family: "HKGrotesk Medium";
  font-size: 50px;
  margin: 60px 0 0 0;
  align-self: center;
}

.footer-email {
  color: white;
  text-decoration: none;
  align-self: center;
  border: 2px solid white;
  margin: 35px 0;
  padding: 10px;
  border-radius: 5px;
}

.contact-icons {
  display: flex;
  flex-direction: row;
  align-self: center;
  margin-bottom: 100px;
}

.footer-icon {
  color: white;
  font-size: 35px;
  padding: 7px;
}
